* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'IBM Plex Mono', monospace;
    line-height: 1.6;
}

header {
    /* height: 100vh; */
    height: 100vh;
    background-color: #212529;
}

header section {
    margin-top: 250px !important;
}

.raleway {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

.w-80 {
    width: 80% !important;
}

.link {
    transition: all 0.3s ease-in-out;
}

.link:hover {
    font-size: 1.05rem;
}

.img-author {
    width: 350px;
    height: 350px;
}

.img-project {
    height: 300px;
    margin: auto 0px;
}

.neon-button {
    background-color: #62BA1B;
    box-shadow: 0 0 10px #62BA1B;
    transition: all 0.3s ease;
    cursor: pointer;
    width: 300px;
    height: 50px;
    border: 0;
}

.neon-button a {
    text-decoration: none;
}

.neon-button:hover {
    box-shadow: 0 0 20px #62BA1B;
    transform: scale(1.05);
}

#key-competencies img {
    width: 80px;
    object-fit: contain;
}

footer {
    background-color: #212529;
}

@media (max-width: 1400px) {
    .img-project {
        height: 250px;
    }
}

@media (max-width: 1200px) {
    header section {
        margin-top: 150px !important;
    }

    .img-author {
        width: 300px;
        height: 300px;
    }

    .img-project {
        height: 200px;
    }
}

@media (max-width: 992px) {
    header section {
        margin-top: 100px !important;
    }

    .img-project {
        margin-top: 10px;
        height: 250px;
    }
}

@media (max-width: 768px) {
    header section {
        margin-top: 100px !important;
    }

    .img-project {
        margin-top: 10px;
        height: 200px;
    }
}

@media (max-width: 576px) {
    header section {
        margin-top: 30px !important;
    }

    .img-project {
        margin: 0px;
        margin-top: 10px;
        width: 100%;
    }

    .android {
        width: auto !important;
    }

    .sm-hidden {
        display: none;
    }
}